.labelText {
    color: #131212;
    font-size: 14px;
    padding: 8px;
    position: relative;
    float: right;
    width: 50px;
    background-color: #d8cfcf;
}

.button-navegar-slides{
    height: 50px;
    width: 50px;
    top: 50%;
}
