:root{
    --bg-dark: #1A2F3A;
    --bg-gray: #364046;
    --header-height: 150px;
    --header-height-tablet: 190px;
    --menu-top-height: 80px;
    --aside-width: 220px;
    --footer-height: 40px;
    --footer-height-small: 90px;
    --shadow: 
        0 2px 10px 0 rgba(10, 9, 9, 0.692),
        0 2px 19px 0 rgba(61, 61, 61, 0.534);
    --shadow-logo:
        0 2px 23px 0 rgba(247, 241, 241, 0.342),
        0 2px 49px 0 rgba(230, 223, 223, 0.479);
}

*{
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    margin: 0;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas: 
        "logo cabecalho"
        "menu conteudo"
        "menu rodape";
    height: 100vh;
}

#brasao{
    bottom: 10px;
    left: 5%;
    position: fixed;
    height: 50px;
    width: 50px;
}

.logo{
    grid-area: logo;
}

.cabecalho{
    grid-area: cabecalho;
    color: whitesmoke;
}

.fundoCabecalho{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu{
    grid-area: menu;
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.conteudo{
    grid-area: conteudo;
    background-color: #d1cece;
}

.rodape{
    grid-area: rodape;
}

.logo img{
    box-shadow: var(--shadow-logo);
    margin-top: 10px;
    height: 110px;
    width: 110px;
}
.itens{
    display: flex;
    justify-content: space-around;
}

.home{
    height: 95%;
    width: 95%;
    box-shadow: var(--shadow);
}

.link-menu:hover{
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
    border-radius: 10px 5% / 20px;
    margin: 1%;
    text-decoration: none;
}

.link-menu{
    margin: 0%;
}

.link-text{
    text-decoration: none;
    color: black;
}

.input-niver{
    width: 95px;
    background-color: #4e4376;
    color: black;
    outline: 0;
    border: none 0;

}

.ativo{
    background-color: #babec2;
    border-radius: 5px;
    color: white;
}

#esconder_about_me{
    box-shadow: var(--shadow);
}

.sombra_botoes{
    box-shadow: var(--shadow);
}

@media(max-width: 768px) {
    body {
        grid-template-rows:
            var(--header-height-tablet)
            var(--header-height-tablet)
            var(--menu-top-height)
            1fr
            --footer-height-small;
        grid-template-columns: var(--aside-width) 1fr;
        grid-template-areas:
            "logo cabecalho"
            "menu menu"
            "conteudo conteudo"
            "rodape rodape";
    }
    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  
    .menu a{
        display: inline;
    }

    .itens{
        display: flex;
    }

    #brasao{
        visibility: hidden;
    }

    
} 

@media(max-width: 576px) {
    body {
        grid-template-rows:
            var(--header-height)
            var(--header-height)
            var(--menu-top-height)
            1fr
            var(--footer-height-small);
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "cabecalho"
            "menu"
            "conteudo"
            "rodape";
    }

    .esconde{
        margin: 2px;
    }

    .menu {
        display: flex;
        overflow: hidden;
    }
    .cabecalho h2 h4{
        margin: 0;
        font-size: 10px;
    }

    #brasao{
        visibility: hidden;
    }

    .itens{
        display: grid;
        align-items: inherit;
        position: relative;
        float: none;
    }
}

.slideshow-container{
    max-width: 95%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.numbertext {
    color: #131212;
    font-size: 12px;
    /* padding: 8px 12px; */
    position: relative;
    float: left;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: -15px;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: -15px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(202, 235, 12, 0.973);
}

.input-cursos{
    width: 30px;
    background-color: #d1cece;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #252424;
}