<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../imgs/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <script src="../js/main.js"></script>
    <title>Sobre Mim</title>
</head>

<body >
    <header class="card-header cabecalho" >

        <div class="container-fluid header">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <picture>
                        <img src="../imgs/eu.jpg" class="rounded-circle img-fluid eu" alt="logo tipo">
                    </picture>
                    </div>
              <div class="col-12 col-sm-9 mt-4">
                <h2 style="font-family: 'Libre Baskerville', serif;" class="text-center" id="ejs" >Edson Jose de Souza</h2>
                <h4 style="font-family: 'Libre Baskerville', serif;" class="text-center" id="sisInfo" >Bacharel em Sistemas de Informação</h4>
              </div>
            </div>
          </div>
        <nav class="navbar navbar-expand-sm navbar-light mt-2 " style="background-color: #e3f2fd;" data-toggle="tooltip"
            data-placement="top" title="Menu">
            <a class="navbar-brand" href="#">
                <img src="../imgs/logoEJS.svg" width="70" height="70" alt="">
            </a>
            <button class="navbar-toggler navbar-expand-sm" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="projetos.html">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="curso_realizados.html">Cursos Realizados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ativo" href="about_me.html">Sobre Mim </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="bg-secondary pricipal" style="min-height: 400px;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
                    <article class="text-justify">
                        <p class="lead" style="font-family: roboto; color: whitesmoke;">
                            Nasci em uma família de 6 filhos, tendo sido o 
                            quarto. Minha cidade natal é Delfim Moreira, mais precisamente o bairro rural
                            São Bernardo. <br><br>
                            Comecei a ajudar meu pai a cultivar batatas aos doze anos de idade, e aos dezessete
                            comecei a trabalhar por conta própria na mesma atividade. Trabalhei como lavrador
                            até 2012, mas a decisão de mudar de carreira foi tomada no início de 2009,
                            portanto voltei a estudar, pois não tinha finalizado nem o ensino fundamental;
                            ingressei no EJA - Estudo para Jovens e  Adultos - equivalente ao supletivo.
                            <br><br>
                            Em 2013 comecei um curso técnico de mecatrônica, e a trabalhar na Prefeitura de Delfim
                            Moreira como contratado. <br> <br>
                            Em Fevereiro de 2014 pedi demissão da Prefeitura para fazer o estágio obrigatório do curso 
                            técnico. 
                            <br> <br>
                            Em 2015, comecei procurar por oportunidades de trabalho, realizei algumas entrevistas em empresas de 
                            Itajubá Minas Gerais, como não consegui trabablo, decidi estudar para concursos públicos.
                            <br><br>
                            O objetivo era obter uma renda para poder fazer um curso superior, já que com minha nota do ENEM 
                            não foi possível ingressar em uma universidade pública. <br> <br>
                            Em Setembro de 2016 comecei a trabalhar na Prefeitura de Maria da Fé, após ter passado no concurso em 
                            primeiro lugar. <br>
                            Como estudei um pouco de programação no curso técnico, e me interessei pela área, decidi fazer
                            um curso superior nesta área, iniciei o curso de <strong style="color: black;"> Sistemas de Informação na Fundação de 
                            Ensino e Pesquisa de Itajubá (FEPI).</strong> <br> <br>
                            Desde então tenho estudado linguagens de programaçã. 
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer card-footer text-muted">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 text-center">
                <h4>Email: nosdejs32@gmail.com </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-2 text-center">
                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                <input disabled style="width: 95px;" type="text" name="ano" id="ano" value="1980 a ">
            </div>
            <div class="col-12 col-sm-12 col-md-5 text-center">
                <h4>Celular: (35) 9 9869-8374</h4>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
    </script>
    <script>
        acoesPagina();
    </script>
    
</body>

</html>