<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../imgs/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <script src="../js/main.js"></script>
    <title>Cursos Realizados</title>
</head>

<body >
    <header class="card-header cabecalho" >

        <div class="container-fluid header">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <picture>
                        <a href="about_me.html"> <img src="../imgs/eu.jpg" class="rounded-circle img-fluid eu" alt="logo tipo"></a>
                    </picture>
                </div>
                <div class="col-12 col-sm-8">
                    <h2 style="font-family: 'Libre Baskerville', serif;" class="text-center" id="ejs">Edson Jose de Souza</h2>
                    <h4 style="font-family: 'Libre Baskerville', serif;" class="text-center" id="sisInfo"> Bacharel em Sistemas de
                        Informação</h4>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-light mt-2" style="background-color: #e3f2fd;" data-toggle="tooltip"
            data-placement="top" title="Menu">
            <a class="navbar-brand" href="#">
                <img src="../imgs/logoEJS.svg" width="70" height="70" alt="">
            </a>
            <button class="navbar-toggler navbar-expand-sm" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="projetos.html">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ativo" href="curso_realizados.html">Cursos Realizados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about_me.html">Sobre Mim</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="bg-secondary pricipal"  style="min-height: 400px;">
        <div class="container">
            <div class="row">
                                <!-- trabalho tcc -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 border border-white" style="position: relative; top: -5px;" >
                    <h2 style="text-align: center;" class="mb-2 mt-4">Curso Superior</h2>
                    <p class="lead text-center" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px;">
                        Fiz o curso de Sistemas de Informação na Fundação de Pesquisa e Ensino de Itajubá (FEPI).
                    </p>
                    <h3 style="text-align: center;" class="mb-2 mt-4">Trabalho de Conclusão de Curso</h3>
                    <p class="lead text-justify" style="font-family: roboto; color: whitesmoke;">
                        <strong style="font-size: 18px; font-weight: bold;">Descrição:</strong>
                    No meu Trabalho de Conclusão de Curso desenvolvi um site para uma pequena escola de ensico
                    da língua inglesa. A escola necessitava de um sistema para o registro das avaliações dos
                    alunos. Para ver o texto final do meu TCC <a href="https://drive.google.com/file/d/1S8KBWS2Y3Vap5UFFsT4W8mLEUh8OcLeq/view?usp=sharing" target="_blank">Clique aqui.</a> <br>
                    Para visualizar o site desenvolvido durante o TCC para a instituição de ensino
                    <a href="https://beyondiscola.herokuapp.com/" target="_blank">Clique aqui.</a>
                    O site está hospedado no Heroku e é uma plataforma para hospedagem de sites, como estou
                    usando uma conta free, onde tenho limitações de armazenamento de dados, e se a aplicação
                    ficar muito tempo sem receber requisições, a mesma é colocada em hibernação. Sendo assim
                    ao clicar no link para acessá-la pode demorar uns 30 segundos.
                    </p>
                </div>
                <!-- curso spring boot ionic -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5 border border-white" >
                    <h3 style="text-align: center;" class="mb-2 mt-4">Curso Spring Boot Ionic</h3>
                    <h4 style="text-align: center;" class="mb-3" >
                        <a href="https://www.udemy.com/course/spring-boot-ionic/" target="_blank" data-toggle="tooltip" data-placement="top" title="Link para o curso da Udemy">
                            Descrição do curso no site Udemy
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </a>
                    </h4>
                    <p class="lead text-justify" style="font-family: roboto; color: whitesmoke;">
                        VISÃO FUNCIONAL:</strong> Neste projeto você vai aprender a construir login, cadastro de usuário,
                        fluxo completo de navegação de carrinho de compras, fluxo de fechamento de pedido, 
                        tela de perfil de usuário com envio de foto tanto pela câmera quanto pela galeria. <br> <br>
                        <strong>VISÃO TÉCNICA - BACK END: </strong> Para isto nós vamos criar uma API Rest usando Java com Spring Boot
                        e banco de dados MySQL. Vamos usar JPA com Hibernate para mapeamento objeto-relacional, 
                        envio de email com SMTP da Google, armazenamento de imagens com storage S3 da Amazon, 
                        autenticação e autorização com tokens JWT, e implantação na nuvem usando a plataforma 
                        Heroku. Vamos aprender também validação de dados, tratamento de exceções, uso adequado do 
                        protocolo HTTP no padrão REST, segurança, CORS, e muito mais. Versão: Spring Boot 2.0.x e 1.5.x
                        <br> <br>
                        <strong>VISÃO TÉCNICA - FRONT END:</strong> Além do back end, também vamos desenvolver o front end 
                        utilizando Ionic. Vamos explorar a arquitetura MVC do Angular, os componentes visuais do 
                        Ionic, Angular reactive forms, navegação, interceptors, local storage, tratamento de erros,
                        acesso à câmera e galeria, paginação com infinite scroll, loading e refresher. Vamos cobrir
                        também todo processo de build para Android e publicação do app na Play Store. 
                        Versão: Ionic 3 e Angular 5.
                    </p>
                    <picture id="cert_curso_spring" hidden=true>
                        <img src="../Certificados/UC-9ab7985a-bc9b-48cc-885d-fbdc583c4775.jpg" class="img-fluid" alt="Responsive image">
                    </picture>
                    <div class="col-lg-12" style="text-align: right;">
                        <button onclick="mostraCertificado('cert_curso_spring', 'mostrar_Certificado_spring', 'esconder_Certificado_spring')"
                         id="mostrar_Certificado_spring"
                         type="button" class="btn btn-primary mb-2 align-content-end" style="text-align: right;">
                         Ver certificado
                        </button>
                        <button onclick="esconderCertificado('cert_curso_spring', 'mostrar_Certificado_spring', 'esconder_Certificado_spring')"
                         id="esconder_Certificado_spring" hidden=true
                        type="button" class="btn btn-primary mb-2 mt-3 align-content-end" style="text-align: right;">
                        Esconder certificado
                       </button>
                    </div>
                </div>
                <!-- curso banco de dados -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-5 border border-white" >
                    <h3 style="text-align: center;" class="mb-2 mt-4">Curso Sobre os principais Bandos de Dados</h3>
                    <h4 style="text-align: center;" class="mb-3" >
                        <a href="https://www.udemy.com/course/curso-completo-de-banco-de-dados-relacionais/" target="_blank" data-toggle="tooltip" data-placement="top" title="Link para o curso da Udemy">
                            Descrição do curso no site Udemy
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </a>
                    </h4>
                    <p class="lead text-justify" style="font-family: roboto; color: whitesmoke;">
                        Bem vindo ao Curso Completo de Bancos de Dados Relacionais 2021! <br>
                        Que tal aprender em um único curso a como dominar os principais Bancos de Dados Relacionais 
                        do mercado? <br>
                        O curso conta com mais de 245 aulas, ao todo são mais de 40 horas de videoaulas em que serão 
                        abordados, desde a instalação até a operação, os Bancos de Dados MySQL, PostgreSQL, SQL Server 
                        e Oracle.br. <br>
                        Para iniciar este curso não é necessário nenhum conhecimento prévio na área, o aluno partirá do 
                        zero e ao final do curso alcançará um nível profissional como AD e ou DBA. Além disso o aluno 
                        contará com um suporte campeão para tirar suas dúvidas. <br> <br>
                        Este curso é totalmente prático, ao longo do curso o aluno aprenderá, dentre outras, a como :
                    </p>
                        <ul style="color: black;">
                            <li>
                                Criar a Modelagem Conceitual, Lógica e Física de um Banco de Dados Relacional.
                            </li>
                            <li>
                                Normalizar um projeto de Banco de Dados Relacional utilizando a Primeira, Segunda e Terceira forma normal.
                            </li>
                            <li>
                                Criar o Dicionário de Dados durante a Modelagem de Banco de Dados ou posteriormente, através do próprio SGBD.
                            </li>
                            <li>
                                Instalar os SGBD's MySQL, PostrgreSQL, SQL Server e Oracle.
                            </li>
                            <li>
                                Acessar e manipular os SGBD's MySQL, PostrgreSQL, SQL Server e Oracle via CLI (linha de comando).
                            </li>
                            <li>
                                Instalar e utilizar os clients MySQL Workbench, PgAdmin (PostgreSQL), SQL Server Management Studio, SQL
                                Developer (Oracle).
                            </li>
                            <li>
                                Utilizar a linguagem SQL.
                            </li>
                            <li>
                                Realizar consultas utilizando os relacionamentos INNER JOIN, LEFT JOIN, RIGHT JOIN e FULL ALTER JOIN.
                            </li>
                            <li>
                                Utilizar Triggers, Procedures, Functions e Views.
                            </li>
                            <li>
                                Administrar os SGBD's MySQL, PostrgreSQL, SQL Server e Oracle.
                            </li>
                        </ul>
                        <p class="lead text-justify" style="font-family: roboto; color: whitesmoke;">
                        E como você vai aprender tanto assim? Fácil, criando projetos de bancos de dados na prática. <br>
                        
                        Junte-se a mais de 100 mil alunos que já fizeram e aprovaram os nossos treinamentos! <br>
                        O que você aprenderá:</p>
                        <ol>
                            <li>
                                A como realizar a Modelagem Conceitual, Lógica e Física de um projeto de Banco de Dados.
                            </li>
                            <li>
                                As linguagens SQL (DQL, DML, DDL), PL/SQL e T-SQL.
                            </li>
                            <li>
                                A como aplicar as regras da Primeira, Segunda e Terceira Forma Normal para normalizar as tabelas nos Bancos de Dados Relacionais.
                            </li>
                            <li>
                                O que são Dicionários de Dados e como criá-los.
                            </li>
                            <li>
                                A como instalar o Banco de Dados MySQL, PostgreSQL, SQL Server e Oracle.
                            </li>
                            <li>
                                A como criar consultas com INNER JOIN, LEFT JOIN, RIGHT JOIN e FULL ALTER JOIN.
                            </li>
                            <li>
                                A como criar Triggers, Procedures, Functions e Views.
                            </li>
                            <li>
                                O que são ambientes transicionais.
                            </li>
                        </ol>
                        <p class="lead text-justify" style="font-family: roboto; color: whitesmoke;">
                        Há algum requisito ou pré-requisito para o curso?
                        Você não precisa saber nada sobre Bancos de Dados Relacionais para se inscrever e iniciar seus estudos. Você só precisa do desejo de aprender.
                        Todas as ferramentas utilizadas neste treinamento são de uso profissional e livre, ou seja, são gratuitas, logo, você não precisará de nenhum investimento financeiro adicional em softwares para iniciar sua nova profissão como AD ou DBA.
                        Se você tem habilidades básicas para utilizar um computador e acessar a internet e estiver em busca de uma nova profissão, este curso é para você.
                        Para quem é este curso:
                        Qualquer pessoa com vontade de aprender as rotinas de um AD ou DBA.
                        Estudantes e profissionais que desejam aprender ou se aprofundar nos SGBD's Relacionais MySQL, PostgreSQL, SQL Server ou Oracle.
                        Estudantes interessados em aprender na prática.
                    </p>
                    <picture id="cert_curso_bd" hidden=true>
                        <img src="../Certificados/certBD.jpg" class="img-fluid" alt="Responsive image">
                    </picture>
                    <div class="col-lg-12" style="text-align: right;">
                        <button onclick="mostraCertificado('cert_curso_bd', 'mostrar_certificado_bd', 'esconder_certificado_bd')"
                         id="mostrar_certificado_bd"
                         type="button" class="btn btn-primary mb-2 align-content-end" style="text-align: right;">
                         Ver certificado
                        </button>
                        <button onclick="esconderCertificado('cert_curso_bd', 'mostrar_certificado_bd', 'esconder_certificado_bd')"
                         id="esconder_certificado_bd" hidden=true
                        type="button" class="btn btn-primary mb-2 mt-3 align-content-end" style="text-align: right;">
                        Esconder certificado
                       </button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer card-footer text-muted">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 text-center">
                <h4>Email: nosdejs32@gmail.com </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-2 text-center">
                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                <input disabled style="width: 95px;" type="text" name="ano" id="ano" value="1980 a ">
            </div>
            <div class="col-12 col-sm-12 col-md-5 text-center">
                <h4>Celular: (35) 9 9869-8374</h4>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
    </script>
    <script>
        acoesPagina();
        mostraCertificado()
    </script>
    
</body>

</html>