<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../imgs/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="../js/main.js"></script>
    <title>Projetos</title>
</head>

<body >
    <div class="logo fundoCabecalho">
        <div class="container-fluid d-flex justify-content-center">
            <picture id="pic_foto" data-toggle="tooltip" data-placement="top" title="Sobre Mim">
                <a href="about_me.html"> <img src="../imgs/pp.jpeg" class="rounded-circle img-fluid" alt="logotipo"></a>
            </picture>
        </div>
    </div>
    <header class="cabecalho fundoCabecalho">
        <div class="col-12 col-sm-9 text-center mt-2">
            <h2 style="font-family: 'Libre Baskerville', serif;" class="" id="ejs">Edson Jose de Souza</h2>
            <h4 style="font-family: 'Libre Baskerville', serif;" class="" id="sisInfo">
                Bacharel em Sistemas de Informação
            </h4>
        </div>
    </header>
    <aside class="menu">
        <a class="nav-link my-3 text-white link-menu" href="../index.html"><i class="fa fa-home pr-2"></i> Início</a>
        <a class="nav-link my-3 text-white link-menu ativo" href="projetos.html"><i class="fa fa-gear pr-2"></i> Projetos</a>
        <a class="nav-link my-3 text-white link-menu" href="curso_realizados.html"><i class="fa fa-book pr-2"></i> Cursos Realizados</a>
        <a href="about_me.html" data-toggle="tooltip" data-placement="top" title="Sobre Mim">
            <img id="brasao" src="../imgs/EJS.png" alt="logo tipo">
        </a>
    </aside>
    <main class="conteudo d-flex justify-content-center">
        <div class="home bg-white my-2" style="height: auto;">
            <div class="border border-success border-2 rounded  m-2 p-2">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-1">
                            <article class="text-justify">
                                <p  class="lead" style="font-family: roboto; color: black; ">
                                    Para desenvolver minhas habilidades na linguagem <strong style="color: black;">Java</strong> deselvolvi um sistema 
                                    desktop para controle de estoque usando o banco de dados Mysql, dando continuidade nos estudos
                                    do curso superior aprendi que eu deveria ter validado os dados inseridos pelo usuário. <br> <br>
                
                                    Em um dos empregos que atuei, no setor público, o cálculo do banco de horas era feito 
                                    manualmente, vi uma oportunidade para desenvolver minhas habilidades em Engenharia de 
                                    Software, fiz a coleta dos requisitos para ententimento do processo e criei uma aplicação 
                                    desktop para este cálculo, neste projeto usei a biblioteca iText 5 para gerar PDF com 
                                    os cálculos realizados pelo sistema.
                                    <br> <br>
                                    Na página <a class="link-menu link-text" href="curso_realizados.html"> <strong> Cursos Realizados </strong></a>  
                                    é exibido os cursos realizados pela plataforma 
                                    <a href="https://www.udemy.com/pt/" class="link-menu link-text" target="_blank">
                                     <strong>Udemy</strong></a>, bem como, os cursos realizados pela <strong>AlgaWorks</strong>.
                                    <br><br>
                                    
                                    Os estudos realizados sobre <strong>Design Patterns</strong> tem como referência o livro
                                    <strong>Head First Design Patterns</strong>; Eric Freeman; Elisabeth Freeman. Kathy Sierra; Bert Bates.
                                            <br><br>
                                    Os estudos realizados sobre <strong>Angular</strong> tem como referência acessos a cursos da 
                                    <strong>Udemy, </strong> os quais tive acesso através de um colega de trabalho que 
                                    disponibilizou seu acesso. Além de vídeos do <strong>YouTube.</strong>

                                    <br><br>
                                    Para ter um melhor entendimento do JPA (especificação para persistência de Java) fiz 
                                    o curso <strong>Especialista JPA na AlgaWorks, código nos links abaixo.</strong>

                                    <br> <br>
                                    Diante da necessidade de aprender como realizar comunicação SOAP, usando Java, fiz um curso na
                                    Udemy sobre WebService SOAP utilizando o frameWork Spring. Apesar de bem simples consegui ter
                                    uma ideia de como funciona.

                                    <br> <br>
                                    Todos os códigos podem ser vistos no GitHub nos links abaixo. 
                                    
                                    <br> <br>
                
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/Controle-de-Estoque" target="_blank">
                                            Código do sistema para controle de estoque.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/Controle-de-Estoque" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/Controle-de-Estoque" target="_blank">
                                                Código do sistema para cálculo de horas extras.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/CalculaHorasExtras" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/curso-spring-ionic-frontend" target="_blank">
                                                Curso Udemy - código front-end.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/curso-spring-ionic-frontend" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/cursoSpring" target="_blank">
                                                Curso Udemy - código back-end.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/cursoSpring" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/Beyond-School" target="_blank">
                                                Código  do site desenvolvido para o TCC.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/cursoSpring" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>


                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/algafood" target="_blank">
                                                Código da API do curso Especialista Spring.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/algafood" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/Curso-Udemy-Web-Moderno-javascript" target="_blank">
                                                Código do curso de Web Moderno.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/Curso-Udemy-Web-Moderno-javascript" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/DesignPatterns" target="_blank">
                                                Código desenvolvido durante os estudos de design patterns.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/DesignPatterns" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/angularFlexLayout" target="_blank">
                                                Código referente ao estudo de <strong>Angular</strong> com a dependência FlexLayou.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/angularFlexLayout" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/estudos-angular" target="_blank">
                                                Código referente ao estudo de <strong>Angular</strong> baseados em cursos na <strong>Udemy.</strong>.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/estudos-angular" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/algaworks-ecommerce" target="_blank">
                                                Código referente ao estudo de <strong>JPA</strong> na plataforma <strong>AlgaWorks.</strong>.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/algaworks-ecommerce" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/customers-administration" target="_blank">
                                                Código do WebService criado em <strong>WSDL, usando Spring </strong>, criado durante os estudos sobre comunicação 
                                                SOAP, realizado na plataforma <strong>Udemy.</strong>
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/customers-administration" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li> 
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a class="link-text" href="https://github.com/nosdeedson/clienteService" target="_blank">
                                                Código desenvolvido para consumir <strong>o WebService</strong>.
                                            </a>
                                            <span>
                                                <a href="https://github.com/nosdeedson/clienteService" target="_blank">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                </p>
                                <!-- heroku -->
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-center">
                                        <h1 class="display-4">Projetos no Heroku</h1>
                                    </div>
                                    <div class="col-12 d-flex justify-content-center" style="margin-top: -15px;">
                                        <p style="color: rgb(134, 129, 129); font-weight: bold; font-size: 12px;">Clique nas setas para para ver todos os projetos</p>
                                    </div>
                                </div>

                                <div class="row m-1">
                                    <div class="col-12">
                                        <div class="slideshow-container">
                                            <div class="mySlides">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <!-- Trabalho de conclusão de Curso -->
                                                        <div class="row d-flex justify-content-center">
                                                            <h5 class="display-5">Beyond School</h5>
                                                        </div>
                                                        <p class="lead text-justify" style="font-family: roboto; color:black; ">
                                                            Este projeto foi desenvolvido no Trabalho de Conclusão de Curso, e está mais detalhado
                                                            na página <strong> <a class="link-menu link-text" href="curso_realizados.html">Cursos Realizados</a> </strong>.
                                                        </p>
                                                        <ul class="list-group mb-2">
                                                            <li class="list-group-item ">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        <a href="https://beyondiscola.herokuapp.com/" class="link-menu link-text" target="_blank" >
                                                                            Clique para ver o site.
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px; color: black;">
                                                                        <a href="https://beyondiscola.herokuapp.com/" class="btn btn-success" target="_blank"
                                                                            role="button"><i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mySlides">
                                                <div class="row">
                                                    <div class="col-12">
                                                            <!-- Curso Spring Boot Ionic-->
                                                            <div class="row d-flex justify-content-center">
                                                                <h5 class="display-5">Spring Boot Ionic</h5>
                                                            </div>
                                                            <p class="lead text-justify" style="font-family: roboto; color:black; ">
                                                                Este projeto foi desenvolvido no curso realizado na Udemy, mais detalhes
                                                                na página <strong> <a class="link-menu link-text" href="curso_realizados.html">Cursos Realizados</a> </strong>.
                                                            </p>
                                                        <!-- links da api do curso spring ionic-->
                                                        <ul class="list-group mb-2">
                                                            <li class="list-group-item ">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        <a href="https://curso-spring-ejs.herokuapp.com" class="link-menu link-text" target="_blank">
                                                                            Clique para ver a página home da API.
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px; color: black;">
                                                                        <a href="https://curso-spring-ejs.herokuapp.com" class="btn btn-success" target="_blank"
                                                                            role="button"><i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        Retorna um produto.
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px;">
                                                                        <a onclick="quemChamar('produto')" class="btn btn-success" role="button">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        Retorna os produtos da categoria 1.
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px;">
                                                                        <a onclick="quemChamar('produto-categoria')" class="btn btn-success" role="button">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        Retorna uma lista de categorias paginada.
                                                                    </div>
                                                                    <div class="col-4 d-flex d-flex justify-content-end" style="height: 40px;">
                                                                        <a onclick="quemChamar('categorias')" class="btn btn-success" role="button">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item ">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        Retorna os Estados já registrados no sistemas.
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px;">
                                                                        <a onclick="quemChamar('estados')" class="btn btn-success" role="button">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="row border border-success border-2 rounded  m-2 p-2">
                                                            <div class="container">
                                                                <div id="api1" class="d-flex justify-content-center">
                                                                    <p>Resposta da API <strong>Spring Ionic</strong>!!!</p>
                                                                </div>
                                                            </div>
                                                        </div> <br>
                                                        <hr>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mySlides">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row d-flex justify-content-center">
                                                            <h5 class="display-5">Curso Especialista Spring Rest</h5>
                                                        </div>
                                                        <p class="lead text-justify" style="font-family: roboto; color:black; ">
                                                            A API, nomeada <strong> Alga-food</strong>, que está sendo desenvolvida no Curso Especialista Spring Rest 
                                                            tem endpoints públicos,
                                                            clique nos botões abaixo e uma requisição será feita a API. <br>
                                                            API está hospedada no Heroku, conta free. 
                                                        </p>
                                                        <!-- links da api do Curso Especialista Spring Rest-->
                                                        <ul class="list-group mb-2">
                                                            <li class="list-group-item ">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        <a href="https://ejs-algafood.herokuapp.com/" class="link-menu link-text" target="_blank">
                                                                            Clique para ver a página home da API.
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px; color: black;">
                                                                        <a href="https://ejs-algafood.herokuapp.com/" class="btn btn-success" target="_blank" 
                                                                            role="button"><i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        Retorna os endpoints da API
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px;">
                                                                        <a onclick="quemChamar('root')" class="btn btn-success"role="button" >
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        Retorna a página HOME, criada porque o Heroku não deploy a aplicação sem uma página de início
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px;">
                                                                        <a href="https://ejs-algafood.herokuapp.com" target="_blank" class="btn btn-success"role="button">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <!-- <li class="list-group-item">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        Retorna formas de pagamento cadastradas.
                                                                    </div>
                                                                    <div class="col-4 d-flex d-flex justify-content-end" style="height: 40px;">
                                                                        <a onclick="quemChamar('formas-pagamento')" class="btn btn-success" role="button">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li> -->
                                                            <!-- <li class="list-group-item ">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        Retorna restaurantes cadastrados.
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px;">
                                                                        <a onclick="quemChamar('restaurantes')" class="btn btn-success" role="button">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li> -->
                                                        </ul>
                                                        <div class="border border-success border-2 rounded  m-2 p-2" >
                                                            <div class="container">
                                                                <div class="row d-flex justify-content-center" id="api2">
                                                                    <p>Resposta da API <strong>Alga Food</strong>!!!</p>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mySlides">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <!-- Problema de Monty Hall -->
                                                        <div class="row d-flex justify-content-center">
                                                            <h5 class="display-5">Problema de Monty Hall</h5>
                                                        </div>
                                                        <p class="lead text-justify" style="font-family: roboto; color:black; ">
                                                            No curso web moderno foi desenvolvido um jogo para explicar o <strong>Problema de Monty Hall.</strong> <br>
                                                            Que consiste no jogo onde um participante escolhe uma porta, que pode ter um presente ou não,
                                                            após deixa-se apenas a porta escolhida pelo participante e uma outra fechada, abrindo-se as demais,
                                                            e pergunta ao participante se ele quer trocar de porta.
                                                            Segundo o problema de <strong>Monty Hall</strong> o participante deve trocar, porque a probalidade de ele ter
                                                            escolhido uma porta sem presente continua a mesma, ou seja, no primeiro momento as chances eram 1 dividido pela
                                                            quantidade de portas.
                                                        </p>
                                                        <ul class="list-group mb-2">
                                                            <li class="list-group-item ">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        <a href="https://ejs-monty-hall.herokuapp.com/" class="link-menu link-text" target="_blank" >
                                                                            Clique para ver o jogo.
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px; color: black;">
                                                                        <a href="https://ejs-monty-hall.herokuapp.com/" class="btn btn-success" target="_blank"
                                                                            role="button"><i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                            <div  class="mySlides">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <!-- Jogo da Velha -->
                                                        <div class="row d-flex justify-content-center">
                                                            <h5 class="display-5">Jogo da Velha</h5>
                                                        </div>
                                                        <p class="lead text-justify" style="font-family: roboto; color:black; ">
                                                            Nos estudos sobre <strong>Angular</strong> foi desenvolvido o Jogo da Velha, mesmo não tendo sido
                                                            um projeto idealizado por mim, coloquei no <strong>Heroku</strong> porque queria aprender como fazer
                                                            o deploy da aplicação.
                                                        </p>
                                                        <ul class="list-group mb-2">
                                                            <li class="list-group-item ">
                                                                <div class="row">
                                                                    <div class="col-8">
                                                                        <a href="https://ejs-jogo-da-velha.herokuapp.com/" class="link-menu link-text" target="_blank">
                                                                            Clique para ver o jogo.
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-4 d-flex justify-content-end" style="height: 40px; color: black;">
                                                                        <a href="https://ejs-jogo-da-velha.herokuapp.com/" class="btn btn-success" target="_blank"
                                                                            role="button"><i class="fa fa-eye"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <a onclick="plusSlide(-1)" class="prev" data-toggle="tooltip" data-placement="top" title="ANTERIOR">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                            <a onclick="plusSlide(1)" class="next" data-toggle="tooltip" data-placement="top" title="PRÓXIMO">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </div>
                                        <div style="text-align:center">
                                            <span class="dot" onclick="currentSlide(1)"></span> 
                                            <span class="dot" onclick="currentSlide(2)"></span> 
                                            <span class="dot" onclick="currentSlide(3)"></span> 
                                            <span class="dot" onclick="currentSlide(4)"></span> 
                                            <span class="dot" onclick="currentSlide(5)"></span> 
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="rodape fundoCabecalho">
        <div class="mt-2 itens" data-toggle="tooltip" data-placement="top" title="Visite meu Linkedin" >
            <a href="https://www.linkedin.com/feed/" target="_blank">
                <img src="../imgs/linkedin-32.png" alt="linkedin">
            </a>
            <span><i class="fa fa-envelope mr-1"></i> nosdejs32@gmail.com </span>
            <span > <i class="fa fa-phone mr-1"></i> (35) 9 9869-8374</span>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
    </script>
    <script>
        acoesPagina();
    </script>
    
</body>

</html>