<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <script src="../js/main.js"></script>
    <title>Hello</title>
</head>

<body >
    <header class="card-header cabecalho" >

        <div class="container-fluid header">
            <div class="row">
              <div class="col-2">
                ​<picture>
                    <a href="../index.html"><img src="../imgs/EJS.png" class="float-start logoTipo img-fluid" alt="logo tipo"></a>
                </picture>
              </div>
              <div class="col-8">
                <h2 class="text-center" id="ejs" >Edson Jose de Souza</h2>
                <h4 class="text-center" id="sisInfo" >Sistemas de Informação</h4>
              </div>
              <div class="col-2">
                <picture>
                    <a href="about_me.html"> <img src="../imgs/eu.jpg" class="rounded-circle img-fluid eu" alt="logo tipo"></a>
                </picture>
              </div>
            </div>
          </div>
          <div class="col-lg-12 align-content-center text-align-center mt-4 " >
              <nav >
                <ul class="nav_space">
                    <li class="">
                        <a></a>
                    </li>
                    <li class="">
                        <a class="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="page">
                        <a class="" id="0" href="projetos.html">Projetos</a>
                    </li>
                    <li class="">
                        <a class="page" href="curso_realizados.html">Cursos Realizados</a>
                    </li>
                    <li class="">
                        <a class="page" href="curso_realizados.html">Sobre Mim</a>
                    </li>
                    <li class="">
                        <a></a>
                    </li>
                </ul>
              </nav>
        </div>
    </header>
    <main class="bg-light pricipal mb-2" style="min-height: 400px;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
                    <article class="text-justify">
                        <p class="lead" style="font-family: Arial, Helvetica, sans-serif; font-size: 24px;">
                            Um dos sistemas que desenvolvi no intuíto de melhorar minha capacidade de programação
                            foi um sistema para controle de estoque em Java, uma aplicação desktop, o sistema não
                            foi finalizado e após avançar no curso percebi que o projeto precisava de uma melhoria na 
                            validação dos dados inseridos pelo usuário.
                            
                            Outro projeto que desenvoli foi uma aplicação desktop para o cálculo de horas extras de
                            motoristas em um dos empregos que tive. Esta aplicação cheguei a finalizar, mas após 
                            finalizá-la percebi que ela poderia ter uma melhor interface de usuário,  
                            perciebi que poderia ter criado uma interface que facilitasse a digitação.
                            Neste projeto não fiz conexão a um banco de dados, salvava a digitação em PDF, usando a
                            biblioteca iText versão 5.
                        
                            Como dito na página <a href="curso_realizados.html">Cursos Realizados</a> fiz um curso na Udemy 
                            sobre Spring Boot, para ver a descrição do curso no site da Udemy <a href="https://www.udemy.com/course/spring-boot-ionic/" target="_blank">clique aqui.</a>
                            Como relatado na mesma página criei um web site para uma escola de inglês como parte do meu
                            Trabalho de Conclusão de Curso.

                            Todos os códigos podem ser vistos no GitHub nos links abaixo. <br> <br>

                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="https://github.com/nosdeedson/Controle-de-Estoque" target="_blank">
                                    Código do sistema para controle de estoque.
                                    </a>
                                    <span class="badge badge-primary badge-pill">
                                        <a href="https://github.com/nosdeedson/Controle-de-Estoque" target="_blank">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="https://github.com/nosdeedson/Controle-de-Estoque" target="_blank">
                                        Código do sistema para cálculo de horas extras.
                                    </a>
                                    <span class="badge badge-primary badge-pill">
                                        <a href="https://github.com/nosdeedson/CalculaHorasExtras" target="_blank">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="https://github.com/nosdeedson/curso-spring-ionic-frontend" target="_blank">
                                        Curso Udemy código front-end.
                                    </a>
                                    <span class="badge badge-primary badge-pill">
                                        <a href="https://github.com/nosdeedson/curso-spring-ionic-frontend" target="_blank">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="https://github.com/nosdeedson/cursoSpring" target="_blank">
                                        Curso Udemy código back-end.
                                    </a>
                                    <span class="badge badge-primary badge-pill">
                                        <a href="https://github.com/nosdeedson/cursoSpring" target="_blank">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="https://github.com/nosdeedson/Beyond-School" target="_blank">
                                        Link para o site desenvolvido para o TCC.
                                    </a>
                                    <span class="badge badge-primary badge-pill">
                                        <a href="https://github.com/nosdeedson/cursoSpring" target="_blank">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </p>
                        <p class="lead text-justify" style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">
                        A API desenvolvida para o curso Spring contém alguns endpoints públicos, os links estão abaixo, clique nos ícones.
                        Como a API está hospedada no Heroku, em uma conta free, e este hiberna as aplicações que
                        não recebem requisições depois de 30 minutos a primeira requisição demora a ser respondida, pois é feito o deploy
                        novamente. 
                        </p>

                        <!-- links da api -->
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Requisição que devolve apenas uma STRING, use para subir a aplicação.
                                <span class="badge badge-primary badge-pill">
                                    <a href="https://curso-spring-ejs.herokuapp.com" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Devolve um JSON com um produto.
                                <span class="badge badge-primary badge-pill">
                                    <a href="https://curso-spring-ejs.herokuapp.com/produtos/1" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Devolve uma lista com os produtos que foram classificados na categoria de id 1.
                                <span class="badge badge-primary badge-pill">
                                    <a href="https://curso-spring-ejs.herokuapp.com/produtos/nome-categorias?categoriasId=1" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Devolve uma lista de categorias usando o recurso de paginação do Spring.
                                <span class="badge badge-primary badge-pill">
                                    <a href="https://curso-spring-ejs.herokuapp.com/categorias/page?size=10" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                 Devolve os Estados já registrados no sistemas.
                                <span class="badge badge-primary badge-pill">
                                    <a href="https://curso-spring-ejs.herokuapp.com/estados" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer card-footer text-muted">
        <div class="row">
            <div class="col-5 text-center">
                <h4>Email: nosdejs32@gmail.com </h4>
            </div>
            <div class="col-2">
                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                <input disabled style="width: 95px;" type="text" name="ano" id="ano" value="1980 a ">
            </div>
            <div class="col-5 text-center">
                <h4>Celular: (35) 9 9869-8374</h4>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
    </script>
    <script>
        acoesPagina();
    </script>
    
</body>

</html>